.searchBar {
	background-color: #3b5998; /* Niebieskie tło */
	padding: 20px; /* Padding dla całości */
	border-radius: 10px; /* Zaokrąglenie */
	display: flex;
	justify-content: center; /* Wyśrodkowanie */
}

.searchForm {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 600px;
}

.searchInput {
	width: 100%;
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 20px;
	border: none;
	outline: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.searchInput:focus {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.searchButton {
	margin-left: 10px;
	padding: 10px 20px;
	background-color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
}

.searchButton:hover {
	background-color: #f0f0f0;
}
